/* ==UserStyle==
@name           OpenVK Tweaks
@namespace      github.com/openstyles/stylus
@version        0.1.0
@description    Tweaks for OpenVK
@author         thejenja
@preprocessor	stylus

@var select label1 "Помеченные ❌ - тестируются или работают некорректно" ["_"]
@var checkbox --cleanThemeCheckbox "Чекбокс 'Применить стиль только для этого устройства'" 0
@var checkbox --cleanVotesBox "Блок с неиспользованными голосами" 0
@var checkbox --followersProfile "Кнопка подписчиков в профиле" 0
@var checkbox --debugInfo "Нижний текст с данными об инстансе" 0
@var checkbox --changeLang "Выбор языка внизу страницы" 0
@var checkbox --serverIMG "Картинка системы сервера" 0
@var checkbox --Gifts "Блок подарков в профиле ❌" 0
@var checkbox --hideWrap "Скрытие верхней панели (wrap) ❌" 0
@var checkbox --fixedSearchbar "Исправленная полоска поиска ❌" 0
@var checkbox --hideSurname "Скрытие фамилий в блоке друзья" 0
@var checkbox --bigYellowheader "Большая полоска на странице" 0
@var checkbox --hideCookieMess "Скрытие сообщения о cookie" 0
@var checkbox --wideSocialMode "Режим на всю ширину ❌" 0
@var checkbox --hideFeedPageSelect "Скрыть раздел 'Кол-во записей на странице'" 0
@var checkbox --animations "Анимации" 0
@var checkbox --hideSidebar "Скрыть летающую левую панель" 0
@var checkbox --hideHoverContent "Скрыть всплывающие подсказки элементов HTML в заметках" 0
@var checkbox --hideContentTitle "Скрыть названии разделов в профиле" 0
@var checkbox --backdropCover "Фон страницы на весь экран (для нестандартных форматов)" 0
@var checkbox --miniMusicPlayer "Мини-плеер для AJAX-музыки" 0
==/UserStyle== */

@-moz-document url-prefix("https://ovk.to/") {
	if --cleanThemeCheckbox
	{
		#auth > div > div.container_gray > form:nth-child(2) > table > tbody > tr:nth-child(6)
		{
			display: none !important;
		}
	}
    if --cleanVotesBox
    {
        #votesBalance
        {display: none !important;}
    }
    if --followersProfile
    {
        #profile_links > a
        {
            display: none !important;
        }
    }
    if --debugInfo
    {
        body > div.page_footer > p:nth-child(3)
        {
            display: none !important;
        }
    }
    if --changeLang
    {
        body > div.page_footer > p:nth-child(2)
        {
            display: none !important;
        }
    }
    if --serverIMG
    {
        .page_footer > p > img[src="/icons/poweredby.png"]
        {
            display: none !important;
        }
    }
    if --Gifts
    {
        #auth > div > div.right_big_block > div:has(img[src*="gift"]){
            display: none !important;
        }
    }
    if --hideWrap
    {
        #wrapH{
            display: none !important;
        }
    }
    if --fixedSearchbar
    {
        input[type~="search"][name~="query"]{
            height: 24px !important;
        }
    }
    if --hideSurname
    {
        .content_list .cl_element .cl_name .cl_lname {
            display: none;
        }
    }
    if --bigYellowheader
    {
        .page_yellowheader {
            padding: 7px 7px 7px;
        }
    }
    if --hideCookieMess
    {
        .cookies-popup {
            display: none !important;
        }
    }
    if --wideSocialMode {
        .layout {
            width: 100%;
        }
        .page_header {
            width: 100%;
        }
        body > div.layout > div.page_body{
            width: 88% !important;
        }
        .page_content{
            width: 100%;
        }
        .left_small_block {
            width: 20%;
        }
        .right_big_block {
            width: 79%;
        }
        .crp-list, .crp-entry, #auth .container_gray {
            width: 100%;
        }
    }
    if --hideFeedPageSelect{
        .postFeedBottom .postFeedPageSelect {
            display: none;
        }
    }
    if --animations{
        .page_body, .ovk-diag-cont { opacity: 0;
            transition: 1s;
            animation: show 1s 1;
            animation-fill-mode: forwards;
            animation-delay: .3s; }
        @keyframes show { 0% { opacity: 0; }
            100% { opacity: 1; } }
        }
        .link, .tab, .profile_link, #profile_link, a { transition: .5s; }
    if --hideSidebar{
            .floating_sidebar{display: none !important;}
        }
    if --hideHoverContent{
        .monaco-editor-hover .hover-contents{display: none}
    }
    if --hideContentTitle{
        .content_title_expanded, .content_subtitle{display: none}
    }
    if --backdropCover{
        #backdrop{background-size: cover}
    }
    if --miniMusicPlayer{
        .page_body{
            anchor-name: --navigation
        }

        .scrolled #ajax_audio_player{
            position: fixed;
            top: 10px !important
        }
        #ajax_audio_player {
            position-anchor: --navigation;
            top: calc(anchor(top) + 10px) !important;
            left: calc(anchor(right) + 10px) !important;
            width: 200px;
            height: max-content;
            #aj_player_track_length, #aj_player_volume, #aj_player_buttons{
                display: none
            }
            #aj_player_track_title{
                display: flex;
                flex-direction: column;
                font-size: 0;
                width: 100%
            }
            b, span {
                font-size: 12px;
                text-overflow: ellipsis
            }
            #aj_player_track_name {
                flex-direction: column
            }
        }
    }
}
